body {
    margin: 0;
    background-color: #EFEFEF;
    color: black;
}

* {
    padding: 0px;
    margin: 0px;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.topNavBar {
    width: 100%;
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 1s;
    color: #B7B7B7;
}

.fixedbar {
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.topNavBar-inner {
    padding: 0px 16px;
}

.logo {
    font-size: 24px;
    font-family: "Arial-black";
    font-weight: bold;
    color: #e06567;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    display: inline-block;
}

.logo .rs {
    margin-right: 4px;
    color: #E6686A;
}

.logo .card {
    color: #9A9DA2;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar nav {
    float: right;
    padding-top: 9px;
    padding-bottom: 3px;
    display: inline-block;
}

.topNavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav ul li a {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: inherit;
    padding-bottom: 6px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
}

.topNavBar nav ul li .submenu {
    background: white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 28px;
    padding: 5px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    right: 0;
}

.topNavBar nav ul li .submenu li {
    margin: 0px 0px;
    padding: 0 17px;
}

.topNavBar nav ul li .submenu li .listtwo {
    text-decoration: none;
}

.topNavBar nav ul li .submenu li:hover {
    background: #EFEFEF;
    color: red;
}

.topNavBar nav ul>li.active>.submenu {
    display: flex;
    animation: Submenu 0.7s ease 1;
}

@keyframes Submenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.topNavBar nav ul li .submenu>li {
    white-space: nowrap;
}

.topNavBar .clearfix>li.active>a::after,
.topNavBar .clearfix>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: bottomborder 0.8s ease 1;
}

@keyframes bottomborder {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.banner {
    height: 515px;
    background-image: url(./img/header.png);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    margin-top: -360px;
}

.userCard {
    max-width: 940px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

[data-x].animate {
    animation: popup 1s 1;
}

@keyframes popup {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

[data-x].offset {
    transform: translateY(30px);
}

[data-x] {
    transform: translateY(0);
    transition: all 1s;
}

.userCard .welcome {
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 5px;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    width: 470px;
    margin-left: 65px;
}

.userCard .text h1 {
    margin-top: 18px;
}

.userCard .text hr {
    margin: 20px 0px;
}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9DA0A7;
}

.userCard>footer.media {
    background: #e06567;
    text-align: center;
}

.userCard>footer.media a {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    line-height: 30px;
    padding: 5px 0px;
    margin: 16px;
}

.userCard>footer.media a:hover {
    background: #CF5D5F;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

main>.download-button {
    text-align: center;
}

main>.download-button>.download {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background: #EFEFEF;
    padding: 20px 60px;
    border: 1px solid #CDCFD1;
    border-radius: 3px;
    margin: 40px 0px;
    transition: box-shadow 0.4s;
}

main>.download-button>.download:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

main>.self-introduction {
    font-size: 24px;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 2.0;
}

.skill-module,
.portfolio-module {
    max-width: 940px;
    margin: 40px auto;
}

.skill-module>.skill-title,
.portfolio-module>.portfolio-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}

.skill-module>.skill-card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 40px 40px 0px 40px;
}

.process-bar>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.process-bar>li:nth-child(even) {
    float: right;
}

.process-bar>li>h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.process-bar>li>.pink-bar {
    background: #FAE1E1;
    height: 5px;
    border-radius: 2px;
    margin: 4px 0 40px 0;
    overflow: hidden;
}

.process-bar>li>.pink-bar>.red-bar {
    height: 100%;
    background: #E8676B;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}

.offset .process-bar>li>.pink-bar>.red-bar {
    transform: translateX(-100%);
}

.portfolio-module {
    text-align: center;
}

.portfolio-module>nav {
    display: inline-block;
    vertical-align: top;
}

.portfolio-module>nav>ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.portfolio-module>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.portfolio-module>nav>ol>li:nth-child(1) {
    margin-left: 0px;
}

.portfolio-module>nav>.portfolio-bar {
    height: 5px;
    background: white;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.portfolio-module>nav>.portfolio-bar>.bar-inner {
    width: 10%;
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

.portfolio-module>nav>.portfolio-bar.state-1 .bar-inner {
    margin-left: 0;
    width: 45px;
}

.portfolio-module>nav>.portfolio-bar.state-2 .bar-inner {
    margin-left: 45px;
    width: 99px;
}

.portfolio-module>nav>.portfolio-bar.state-3 .bar-inner {
    margin-left: 144px;
    width: 65px;
}

.portfolio-module>.works {
    position: relative;
    height: 597px;
}

.portfolio-module>.works>.big,
.portfolio-module>.works>.small,
.portfolio-module>.works>.smalls {
    position: absolute;
    transition: all 0.3s;
}

.portfolio-module>.works>.big {
    top: 0;
    left: 0;
}

.portfolio-module>.works>.small {
    top: 0;
    left: 645px;
}

.portfolio-module>.works>.smalls {
    top: 312px;
    left: 645px;
}