body {
    margin: 0;
    background-color: #EFEFEF;
    color: black;
}

* {
    padding: 0px;
    margin: 0px;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.site-loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #888;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.site-loading.active {
    display: none;
}

.loading {
    width: 200px;
    height: 200px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background: black;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: s 1.5s linear infinite;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes s {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.topNavBar {
    width: 100%;
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 1s;
    color: #B7B7B7;
}

.fixedbar {
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.topNavBar-inner {
    padding: 0px 16px;
}

.logo {
    font-size: 24px;
    font-family: "Arial-black";
    font-weight: bold;
    color: #B53D3D;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    display: inline-block;
}

.logo .rs {
    margin-right: 4px;
    color: #B53D3D;
}

.logo .card {
    color: #9A9DA2;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar nav {
    padding-top: 9px;
    padding-bottom: 3px;
    display: inline-block;
    float: right;
}

.topNavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav ul li a {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: inherit;
    padding-bottom: 6px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
}

.topNavBar nav ul li .submenu {
    background: white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 28px;
    padding: 5px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    right: 0;
}

.topNavBar nav ul li .submenu li {
    margin: 0px 0px;
    padding: 0 17px;
}

.topNavBar nav ul li .submenu li .listtwo {
    text-decoration: none;
}

.topNavBar nav ul li .submenu li:hover {
    background: #EFEFEF;
    color: red;
}

.topNavBar nav ul>li.active>.submenu {
    display: flex;
    animation: Submenu 0.7s ease 1;
}

@keyframes Submenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.topNavBar nav ul li .submenu>li {
    white-space: nowrap;
}

.topNavBar .clearfix>li.active>a::after,
.topNavBar .clearfix>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #B53D3D;
    height: 3px;
    animation: bottomborder 0.8s ease 1;
}

@keyframes bottomborder {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.banner {
    height: 515px;
    background-image: url(./img/header.png);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    margin-top: -360px;
}

.userCard {
    max-width: 940px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

[data-x].animate {
    animation: popup 1s 1;
}

@keyframes popup {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

[data-x].offset {
    transform: translateY(30px);
}

[data-x] {
    transform: translateY(0);
    transition: all 1s;
}

.userCard .welcome {
    background: #B53D3D;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #B53D3D;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 5px;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    width: 470px;
    margin-left: 65px;
}

.userCard .text h1 {
    margin-top: 18px;
}

.userCard .text hr {
    margin: 20px 0px;
}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9DA0A7;
}

.userCard>footer.media {
    background: #E8676B;
    text-align: center;
}

.userCard>footer.media a {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    line-height: 30px;
    padding: 5px 0px;
    margin: 16px;
}

.userCard>footer.media a:hover {
    background: #CF5D5F;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

main>.download-button {
    text-align: center;
}

main>.download-button>.download {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background: #EFEFEF;
    padding: 20px 60px;
    border: 1px solid #CDCFD1;
    border-radius: 3px;
    margin: 40px 0px;
    transition: box-shadow 0.4s;
}

main>.download-button>.download:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

main>.self-introduction {
    font-size: 24px;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 2.0;
}

.skill-module,
.portfolio-module,
.messageboard {
    max-width: 940px;
    margin: 40px auto;
    margin-bottom: 65px;
}

.skill-module>.skill-title,
.portfolio-module>.portfolio-title,
.messageboard>.messageboard-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}

.skill-module>.skill-card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 40px 40px 0px 40px;
}

.process-bar>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.process-bar>li:nth-child(even) {
    float: right;
}

.process-bar>li>h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.process-bar>li>.pink-bar {
    background: #FAE1E1;
    height: 5px;
    border-radius: 2px;
    margin: 4px 0 40px 0;
    overflow: hidden;
}

.process-bar>li>.pink-bar>.red-bar {
    height: 100%;
    background: #E8676B;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}

.offset .process-bar>li>.pink-bar>.red-bar {
    transform: translateX(-100%);
}

.portfolio-module {
    text-align: center;
    max-width: 720px;
}

.portfolio-module>.works {
    position: relative;
    height: 597px;
}

.portfolio-module .swiper-container {
    width: 668px;
    height: 501px;
}

.portfolio-module .swiper-button-prev {
    background-color: white;
    width: 64px;
    height: 64px;
    top: 326px;
    right: 100%;
    left: auto;
    border-radius: 50%;
}

.portfolio-module .swiper-button-next {
    background-color: white;
    width: 64px;
    height: 64px;
    top: 326px;
    right: auto;
    left: 100%;
    border-radius: 50%;
}

section.messageboard>ol {
    max-width: 700px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
}

section.messageboard>ol>li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

section.messageboard>#postMessageForm {
    width: 670px;
    margin: 50px auto;
}